@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: rgb(245, 245, 245);
    --color: black;
    --border: rgb(185, 185, 185);
    .blue {
        --secondary-color: rgb(0, 0, 150);
        --hover-bg: rgb(200, 200, 255);
        --container-bg: rgb(255, 255, 255);
    }
    .red {
        --secondary-color: rgb(150, 0, 0);
        --hover-bg: rgb(255, 200, 200);
        --container-bg: rgb(255, 245, 245);
    }
    .green {
        --secondary-color: rgb(0, 150, 0);
        --hover-bg: rgb(200, 255, 200);
        --container-bg: white;
        --container-bg: rgb(245, 255, 245);
    }
}

[data-theme="dark"] {
    --bg: rgb(10, 10, 10);
    --color: white;
    --border: rgb(70, 70, 70);
    .blue {
        --secondary-color: rgb(100, 100, 255);
        --hover-bg: rgb(0, 0, 60);
        --container-bg: rgb(20, 20, 20);
    }
    .red {
        --secondary-color: rgb(255, 100, 100);
        --hover-bg: rgb(60, 0, 0);
        --container-bg: rgb(5, 0, 0);
    }
    .green {
        --secondary-color: rgb(100, 255, 100);
        --hover-bg: rgb(0, 60, 0);
        --container-bg: rgb(0, 5, 0);
    }
}

::selection {
    color: var(--bg);
    background-color: var(--secondary-color);
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bg);
    color: var(--color);
    font-size: 16px;
    @screen md {
        font-size: 17px;
    }
    @screen lg {
        font-size: 18px;
    }
}

h1 {
    font-size: 30px;
    @screen md {
        font-size: 34px;
    }
    @screen lg {
        font-size: 38px;
    }
}

h2 {
    font-size: 22px;
    @screen md {
        font-size: 24px;
    }
    @screen lg {
        font-size: 26px;
    }
}

h3 {
    font-size: 19px;
    @screen lg {
        font-size: 22px;
    }
}

h1,
h2,
h3,
h4 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    padding: 3px 6px;
    border-radius: 4px;
}

p > a {
    padding: 2px 4px;
}

a:hover {
    background-color: var(--hover-bg);
    cursor: pointer;
}

h1 > a,
h4 > a {
    padding: 0px;
}

h1 > a:hover,
h4 > a:hover {
    background-color: transparent;
}

.dot {
    margin-left: 2px;
    margin-right: 2px;
}

.content p {
    margin-top: 12px;
}

.articles h4 > a:hover {
    text-decoration: underline;
}

.article h4 {
    margin-top: 12px;
}

.article p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    font-size: 14px;
    @screen md {
        font-size: 15px;
    }
    @screen lg {
        font-size: 16px;
    }
    color: grey;
}

.container{
    width: 100%;
    @screen md{
        width: 80%;
    }
    @screen lg{
        width: 80%;
    }
    @screen xl{
        width: 70%;
    }
    @screen 2xl{
        width: 60%;
    }
}