@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: rgb(240, 240, 240);
    --primary-color: rgb(0, 0, 0);
    --border: rgb(200, 200, 200);

    .blue {
        --secondary-color: rgb(0, 0, 180);
        --tertiary-color: rgb(235, 235, 235);
        --hover-bg: rgb(220, 220, 240);
        --rounded: 8px;
        --container-bg: rgb(255, 255, 255);
    }

    .black {
        --secondary-color: rgb(0, 70, 124);
        --tertiary-color: rgb(235, 235, 235);
        --hover-bg: rgb(225, 225, 225);
        --rounded: 0px;
        --container-bg: rgb(255, 255, 255);
    }

    .red {
        --secondary-color: rgb(180, 0, 0);
        --tertiary-color: rgb(255, 220, 220);
        --hover-bg: rgb(255, 180, 180);
        --rounded: 8px;
        --container-bg: rgb(255, 240, 240);
    }

    .green {
        --secondary-color: rgb(0, 180, 0);
        --tertiary-color: rgb(215, 255, 215);
        --hover-bg: rgb(160, 255, 160);
        --rounded: 8px;
        --container-bg: rgb(240, 255, 240);
    }
}

[data-theme="dark"] {
    --bg: rgb(15, 15, 15);
    --primary-color: rgb(240, 240, 240);
    --border: rgb(65, 65, 65);

    .blue {
        --secondary-color: rgb(80, 80, 255);
        --tertiary-color: rgb(20, 20, 20);
        --rounded: 8px;
        --hover-bg: rgb(0, 0, 100);
        --container-bg: rgb(40, 40, 40);
    }

    .black {
        --secondary-color: rgb(255, 255, 255);
        --tertiary-color: rgb(20, 20, 20);
        --hover-bg: rgb(60, 60, 60);
        --rounded: 0px;
        --container-bg: rgb(0, 0, 0);
    }

    .red {
        --secondary-color: rgb(255, 180, 180);
        --tertiary-color: rgb(27, 0, 2);
        --hover-bg: rgb(84, 0, 15);
        --rounded: 8px;
        --container-bg: rgb(40, 0, 0);
    }

    .green {
        --secondary-color: rgb(180, 255, 180);
        --tertiary-color: rgb(0, 20, 0);
        --hover-bg: rgb(0, 84, 15);
        --container-bg: rgb(0, 10, 0);
        --rounded: 8px;
    }
}

::selection {
    color: var(--bg);
    background-color: var(--secondary-color);
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bg);
    color: var(--primary-color);
}

h1 {
    font-size: 30px;
    @screen md {
        font-size: 34px;
    }
    @screen lg {
        font-size: 38px;
    }
}

h2 {
    font-size: 22px;
    @screen md {
        font-size: 24px;
    }
    @screen lg {
        font-size: 26px;
    }
}

h3 {
    font-size: 19px;
    @screen lg {
        font-size: 22px;
    }
}

h4 {
    font-size: 18px;
}

h1,
h2,
h3,
h4 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    padding: 3px 6px;
    border-radius: var(--rounded);
}

p > a {
    padding: 2px 4px;
}

a:hover {
    background-color: var(--hover-bg);
    cursor: pointer;
}

h1 > a,
h4 > a {
    padding: 0px;
}

h1 > a:hover,
h4 > a:hover {
    background-color: transparent;
}

.dot {
    margin-left: 2px;
    margin-right: 2px;
}

.content p,
.content ol {
    margin-top: 12px;
}

.content h3, .content h4 {
    margin-top: 16px;
}


.articles h4 > a:hover {
    text-decoration: underline;
}

.article p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
    @screen lg {
        font-size: 16px;
    }
    color: grey;
}

.container {
    width: 100%;
    @screen md {
        width: 80%;
    }
    @screen lg {
        width: 80%;
    }
    @screen xl {
        width: 70%;
    }
    @screen 2xl {
        width: 60%;
    }
}

pre {
    border-radius: var(--rounded);
    padding: 8px 16px;
    margin: 12px 0px;
    background-color: var(--tertiary-color);
}

ol > li {
    list-style: disc;
    list-style-position: inside;
}

@media (max-width: 768px) {
    pre,
    code {
        overflow-y: scroll;
    }
}

select {
    background-color: transparent;
}

option {
    background-color: var(--bg);
}
